[mysqld]
port		= 3306
socket		= /var/lib/mysql/mysql.sock
skip-external-locking
slow-query-log = 1
slow-query-log-file = /var/log/mysql-slow.log
long_query_time = 1

key_buffer_size = 256M
max_allowed_packet=268435456
table_open_cache = 256
sort_buffer_size = 1M
read_buffer_size = 1M
read_rnd_buffer_size = 4M
myisam_sort_buffer_size = 64M
thread_cache_size = 8
query_cache_size = 0
query_cache_type = 0
# Try number of CPU's x 2 for thread_concurrency
thread_concurrency = 16

default_storage_engine = InnoDB
innodb_buffer_pool_size = 32G
innodb_file_per_table = 1
innodb_flush_log_at_trx_commit = 0
innodb_flush_method = O_DIRECT
innodb_log_buffer_size = 32M
innodb_log_file_size = 514M

log_bin                 = /var/log/mysql/mysql-bin.log
expire_logs_days        = 7
max_binlog_size         = 100M
