[mysqld]
datadir             = /media/dados/mysql
max_connections     = 15000

innodb_flush_method         = O_DIRECT
innodb_buffer_pool_size     = 150G
innodb_log_buffer_size      = 128M
innodb_log_file_size        = 2G

thread_cache_size = 4
query_cache_size  = 256M

binlog_format               = ROW
expire_logs_days            = 7
